<div>
  <br/>
  <br/>

  <h4> Click <a href={{@dqUrl}} target="_blank" rel="noopener noreferrer">here </a> to view quality metrics on Kibana dashboard. You can change the time period for which you want to view the metrics on the dashboard</h4>


</div>